<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <!-- to access header file from common folder  -->
    <%- include('common/header') %>
    <h2>Information of <%= user.name %></h2>
    <p>Email : <%= user.email %></p>
    <p>Age : <%= user.age %></p>
    <p>Profession : <%= user.profession %></p>
    <ul>Skills
        <% user.skills.forEach((items) => { %>
            <li><%= items %></li>
        <% }) %>
    </ul>
</body>
</html>